<div class="about-content-wrapper mb-5">
  <section class="about-content" id="about-section" style="padding: 2rem">
    <div class="about-heading-wrapper">
      <h1 class="about-heading cursor-scale">About me</h1>
    </div>

    <div class="row mt-5 pt-5 pb-5">
      <div
        class="col-md-4 d-flex gap-3 about-para-text text-end flex-column justify-content-between"
      >
        <p>
          I always consider design to be my true calling, which I have been
          doing for more than 3 years. This experience helped me become a pro at
          creating <span><i>web interfaces</i></span
          >.
        </p>

        <div
          class="d-flex justify-content-end gap-3 align-items-center location-text-wrapper"
        >
          <p>
            based on new delhi, india<i
              class="fa-solid fa-location-dot"
              style="font-size: 1.5rem; color: #fff; margin-left: 0.5rem"
            ></i>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 about-profile-img-wrapper">
        <img src="../../assets/images/profie.avif" alt />
      </div>
      <div
        class="col-md-4 d-flex gap-3 about-para-text align-items-end text-left"
      >
        <p>
          Enthusiastic about crafting ideas, <span><i>visual</i></span> ,<span>
            <i> motion design</i></span
          >
          and love to develop flawless <span><i>user experiences</i></span
          >.
        </p>
      </div>
    </div>
    <div class="services-content mt-5 pt-5 mb-5">
      <div class="services-heading-wrapper">
        <h1 class="services-heading cursor-scale">Services</h1>
      </div>
      <div class="mt-5">
        <h1 class="text cursor-scale">web development</h1>
        <h1 class="text cursor-scale">motion design</h1>
        <h1 class="text cursor-scale">visual interaction</h1>
        <h1 class="text cursor-scale">figma</h1>
        <h1 class="text cursor-scale">wireframing</h1>
        <h1 class="text cursor-scale">prototyping</h1>
      </div>
    </div>
  </section>
</div>
<div class="uncover">
  <div class="uncover_slice"></div>
  <div class="uncover_slice"></div>
  <div class="uncover_slice"></div>
</div>
