
<div class="work-content-wrapper">
  <section class="work-content" id="work-section" style="padding:2rem">
    <div class="work-heading-wrapper">
      <h1 class="work-heading cursor-scale ">selected work</h1>
    </div>
    <div
      class="text-center work-para-text d-flex justify-content-center">
      <p class="cursor-scale small">THESE
        ARE DESIGN CONCEPTS THAT I
        CREATE TO
        REFINE MY SKILLS AND
        EXPLORE NEW POSSIBILITIES IN INTERFACES.</p>
    </div>

    <div class="d-flex flex-column project-wrapper gap-5">
      <div class="project-flex project-1 d-flex gap-3 mb-5 pb-3">
        <div class="project-img-wrapper">
          <img src="../../assets/images/Rectangle 83.svg" alt
            class="project-img">
        </div>
        <div class="align-self-end project-text-wrapper-1 project-text-wrapper">
          <p>User interface</p>
          <h1 class="cursor-scale">Future of ai tech</h1>
        </div>
      </div>
      <div
        class="project-flex project-2 align-self-end d-flex gap-3 flex-row-reverse mb-5 pb-3">
        <div class="project-img-wrapper">
          <img
            src="../../assets/images/Rectangle 84.svg" alt
            class="project-img ">
        </div>
        <div class="align-self-end text-end project-text-wrapper">
          <p>development</p>
          <h1 class="cursor-scale">sustainable development </h1>
        </div>
      </div>
      <div class="project-flex project-3 d-flex gap-3 mb-5 pb-3">
        <div class="project-img-wrapper">
          <img
            src="../../assets/images/Rectangle 85-1.svg" alt
            class="project-img">
        </div>
        <div class="align-self-end project-text-wrapper">
          <p>User interface</p>
          <h1 class="cursor-scale">FURNITURE ONE PAGE</h1>
        </div>
      </div>
      <div
        class="project-flex project-4 align-self-end d-flex gap-3 flex-row-reverse mb-5 pb-3">
        <div class="project-img-wrapper"><img
            src="../../assets/images/Rectangle 85.svg" alt
            class="project-img">
        </div>
        <div class="align-self-end text-end project-text-wrapper">
          <p>Development</p>
          <h1 class="cursor-scale">ECOMMERCE WEBSITE</h1>
        </div>
      </div>
    </div>
  </section>
</div>
