<div class="skill-content-wrapper mb-5">
  <section class="skill-content" id="skill-section" style="padding:2rem">
    <div class="d-flex flex-column gap-1 skill-heading-wrapper">
      <h1 class="skill-heading">Used by</h1>
      <h1 class="skill-heading"
        style="position: relative;left: 50px;">my hands</h1>
      <h1 class="skill-heading">and mind</h1>
    </div>
    <div class="row">
      <div class="col-md-4 skill-img-wrapper">
        <img src="../../assets/images/skill-img.svg" alt>
      </div>
      <div class="col-md-8 skill-detail-wrapper">
        <div class="row gap-1">
          <div class="col-md-3 language-list-wrapper">
            <h4 class="cursor-scale small">Languages</h4>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Sass / Scss</li>
              <li>Javascript</li>
            </ul>
          </div>
          <div class="col-md-4 framework-list-wrapper">
            <h4 class="cursor-scale small">frameworks/library</h4>
            <ul>
              <li>Bootstrap</li>
              <li>Angular.js</li>
              <li>React.js</li>
              <li>Material UI</li>
              <li>Gsap</li>
            </ul>
          </div>
          <div class="col-md-4 design-list-wrapper">
            <h4 class="cursor-scale small">design</h4>
            <ul>
              <li>Figma</li>
              <li>User flows</li>
              <li>Motion design</li>
              <li>Wireframing</li>
              <li>Prototyping</li>
            </ul>

          </div>
        </div>
        <div class="special-mention-wrapper">
          <h4 class="cursor-scale small">special mention</h4>
          <ul class="d-flex align-items-center gap-5">
            <li>Prompt Engineering </li>
            <li>Generative AI</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
