<div id="smooth-wrapper">
  <div id="smooth-content">
    <div class="main-container-wrapper">
      <div class="cursor"></div>

      <section>
        <!-- <div
          class="navigation-menu d-inline-flex align-items-center justify-content-end flex-row-reverse float-end">
          <div
            class="hamburger d-flex flex-column gap-2 align-items-end cursor-scale small">
            <span></span>
            <span></span>
          </div>
          <nav class="navbar navbar-expand-lg hidden-nav">
            <ul class="navbar-nav cursor-scale small">
              <li class="nav-item active">
                <a class="nav-link ms-0" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </nav>
        </div> -->
        <app-main-page></app-main-page>
        <app-about></app-about>
        <app-skills></app-skills>
        <app-work></app-work>
        <app-contact></app-contact>
      </section>
    </div>
  </div>
</div>
